# QWEN配置
DASHSCOPE_API_KEY=sk-XXXXXXXXX
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
#高德地图配置
AMAP_KEY=XXXXXXXXXXX
AMAP_BASE_URL=https://restapi.amap.com/v5
AMAP_MCP_URL=https://mcp.api-inference.modelscope.net/XXXXXXXXXXXX/sse
